:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  --blue: #2563eb;
  --white: #eff6ff;
  --gray: #00204a17;
}

/*
div {
  border: 1px solid black;
}*/

body {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 3fr;
  height: calc(100vh - 1px);
  margin: 0;
}

.icon {
  height: 3vh;
  display: inline-block;
}

.left-nav {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  background-color: var(--blue);
  color: var(--white);

}

.left-nav .icon {
  filter: invert(100%) sepia(56%) saturate(1836%) hue-rotate(178deg) brightness(103%) contrast(104%);
}

.nav-link {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.dashboard-title {
  display: flex;
  align-items: center;
  gap: 15px;
  min-width: 250px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.nav-top {
  margin-bottom: 3rem;
}

.left-nav img {
  display: inline;
  width: 25%;
  filter: invert(100%) sepia(56%) saturate(1836%) hue-rotate(178deg) brightness(103%) contrast(104%);
}

.header {
  grid-column: 2 / 4;
  grid-row: 1 / 1;
}

.upper-header {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 3fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
}

.search, .upper-icons {
  display: flex;
  align-items: center;
}

.search {
  min-width: 800px;
  gap: 20px;
}

input {
  flex: 1;
  border: none;
  border-radius: 2rem;
  background-color: var(--gray);
  padding-left: 20px;
}

.upper-icons {
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 5rem;
  flex: 1;
}

.lower-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greeting {
  display: flex;
  margin-left: 1rem;
}

.greeting-words {
  margin-left: 1rem;
}

.profile-picture {
  width: 6rem;
}


button {
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  width: 125px;
  font-weight:600;
  font-size: 16px;
}

.middle {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 15px;
}

.middle, .right-bar {
  background-color: var(--gray);
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
  flex: 1;
}

.project {
  border-radius: 10px;
  padding: 0.5rem;
  padding-left: 1rem;
  border-left: 3px solid #1e40af;
}

.project, .announcements, .trending {
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}



.right-bar {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}


.announcements, .trending {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
